<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>meower</title>
    <link rel="shortcut icon" href="https://meower.org/assets/77336943.png" type="image/x-icon">
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="scratch" class="logo" href="https://meower.org">meower <a id="scratch" class="link" href="/">home</a> <a id="scratch" class="link" href="https://app.meower.org">meower</a> <a id="scratch" class="link" href="https://wiki.meower.org">wikimeower</a> <a id="scratch" class="link" href="https://beta.meower.org">beta meower</a></div>
    <br>
    <div class="content" id="error-content">
        <h2 style="color:orange;">Successfully Verified</h2>
        <p><b>You have been successfully verified and now should have access to the Discord!</b></p>
        <p id="error-details"></p>
    </div>
  </body>
</html>